.btn-color{
    background-color: rgb(17, 88, 116);
    outline: none;
    border: 1px solid black;
}

@media only screen and (max-width: 600px) {
    .containers{
        flex-direction: column;
    }
  }